<div class="container">
    <div class="form_area">
        <p class="title">REGISTRO</p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form_group">
                <label class="sub_title" for="name">Nombre</label>
                <input placeholder="Ingresa tu nombre completo" 
                       class="form_style" 
                       type="text"
                       formControlName="name">
                <div *ngIf="submitted && f['name'].errors" class="error-message">
                    <div *ngIf="f['name'].errors['required']">El nombre es requerido</div>
                    <div *ngIf="f['name'].errors['minlength']">El nombre debe tener al menos 3 caracteres</div>
                </div>
            </div>
            <div class="form_group">
                <label class="sub_title" for="email">Correo Electrónico</label>
                <input placeholder="Ingresa tu correo electrónico" 
                       class="form_style" 
                       type="email"
                       formControlName="email">
                <div *ngIf="submitted && f['email'].errors" class="error-message">
                    <div *ngIf="f['email'].errors['required']">El correo electrónico es requerido</div>
                    <div *ngIf="f['email'].errors['email']">Por favor ingresa un correo electrónico válido</div>
                </div>
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Contraseña</label>
                <input placeholder="Ingresa tu contraseña" 
                       class="form_style" 
                       type="password"
                       formControlName="password">
                <div *ngIf="submitted && f['password'].errors" class="error-message">
                    <div *ngIf="f['password'].errors['required']">La contraseña es requerida</div>
                    <div *ngIf="f['password'].errors['minlength']">La contraseña debe tener al menos 6 caracteres</div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn">REGISTRARSE</button>
                <p>¿Ya tienes una cuenta? <a class="link" routerLink="/login">¡Inicia sesión aquí!</a></p>
            </div>
        </form>
    </div>
</div> 